@font-face {
    font-family: 'Inter', sans-serif;
    src: url('assets/fonts/Inter-VariableFont_slnt,wght.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button, input, li, image {
    all: unset;
}

:root {
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color-scheme: light dark;
    color: #0D0D0D;
    background-color: #FDFDFF;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

